<!DOCTYPE html>
<html lang="en">

<head>
	<title> {% if page.title %} {{ page.title }} | {% endif %} Stephanie Chou, DBC Blog </title>
	<link rel="stylesheet" href="stylesheets/blog.css" type="text/css" media="all">
	<link href='http://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet' type='text/css'>
</head>
		
<body>
	<div id="wrapper">
		<div class="navSec">
			<nav>
				<a href="https://stephanie-chou.github.io/index.html">wh<img src="../unit1_projects/images/pygmalion.png"></a>
				<div class="container">
					<h4> About Me</h4>
	                 <p> I recently graduated from the University of Illinois, Urbana-Champaign with a degree in Electrical Engineering. I am currently participating in the Chicago Dev Bootcamp Cohort. </p>
            	</div>

				<h4>Archive</h4>

				<ul>
					<li> Home</li>
					<li> Portfolio</li>
					<li> Blog Archive</li>
				</ul>
			</nav>
		</div>
		<div class="mainSec">
			<article>
					{{content}}

			</article>
		</div>
		<div id="push"></div>
	</div>
	<footer> <p>Created by Stephanie Chou</p></footer>
</body>

</html>