<!DOCTYPE html>
<html lang="en" ng-app = "blogApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
<!--   <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
       <ul class="title-area">
        <li class="name">
          <h1><a href="#">Stephanie</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
      <ul class="right">
        <li> <a href="#home">Home</a> </li>
        <li> <a href="/#/posts">Blog Archive</a> </li>
        <li> <a href = "/#/portfolio">Portfolio</a></li>
      </ul>
    </nav>
  </div> -->

<!--   <div class="row fullWidth">
    <img src="http://stephanie-chou.github.io/images/Optimized-ystone-1593.jpg" alt="header-picture">
  </div> -->
  <div id = "container" class = "row">
    <hr>
    <div ng-view>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  </body>
</html>
