body{
	background-color: #fff;/*#042f4f;*/
	color: #fff;
	font-family: 'Voltaire', sans-serif;
}

header{
	width: 100%;
	background-color: #109d61;
	
	min-height: 200px;
	top: 0px;

}

nav{
	min-width: 13%;
	float: left;
	position: relative;
	background-color:#109d61;
	opacity: .6;
}

nav li{
	padding: 10px;
}
nav p{
	text-transform: uppercase;
	text-align: center;
}
.margin{
	width:70%;
	margin: 0 auto;
}

article{
	display: block-inline;
	width: 70%;
	background-color: #175e94 ;
	border-radius: 0px;
	box-shadow: 5px 5px 5px #042f4f;
	min-height: 300px;
	margin:0 auto;
	padding: 15px;
}


@media (max-width: 960px){
	article{
		
		margin: 0 auto;
		width: 90%;
	}
	h1{
	font-size: 3.33em;
	text-align: center;
	line-height: 2.33em;

	}

	h2{
		font-size: 2.33em;
		line-height: 1.66 em;
	}

	h3{
		font-size: 1.66em;
		line-height: 1em;
	}
	
}

article img{
	display: inline;
	padding: 10px;
	height: 150px;
	
}

.circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: black;
}
.rectangle{
	height: 100px;
	width: 200px;
	background-color: black;

}
.blue{
	background-color: blue;

}
.white{
	background-color: white;
	height: 200px;
	width: 400px;
}
.fixed{
	position: fixed;
	bottom: 0px;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

a{
	color: #fff;
}
a:hover {
	color: #000;
}

a:visited {
	color: #f2f2f2;
}

h1{
	font-size: 3.33em;
	text-align: center;
	line-height: 2.33em;

}

h2{
	font-size: 2.33em;
	line-height: 2.33em;
}

h3{
	font-size: 1.66em;
	line-height: 1em;
}

p{
	font-size: 1em;
	line-height: 2.33em;
	margin-top: 5px;
	padding-top: 15px;
}