
body{
/*	font-family: 'PT Sans', sans-serif;
*/	font-family: 'Voltaire', sans-serif;
	background color:#000;
	color: #303134;
	padding: 0px;
	margin:0px;
}

section{
	width:100%;
	min-height: 600px;
	float: left;
	right: 0px;
	margin: 0px;
	padding: 0px;
}
.wrapper{
	width:70%;
	margin: 0px auto;
	
}
nav{
	background-color: #C1C6D2;
	position: absolute fixed;
	width: 100%;
	height: 60px;
	text-align: center;
	z-index: 99;
}
nav li{
	display: inline-block;
	padding-left: 5px;
	color: #109d61;
}

nav li a{
	color:#303134;
}
nav li a:hover{
	color: #109d61;
}

 li{
	display: inline-block;
	padding-left: 5px;
	color: white;
	text-align: center;
}


li a:hover{
	color: #109d61;
}
#home{
	background-image: url("../images/beachLR.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#about{
/*	background-image: url("../images/stephanie2_med.png");*/	
	background-image: url("../images/beach.png");
	background-color: #000;/* #175e94 ;*/
	/*background-size: 40%;*/
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
}


.content{
	float: left;
	width: 30%;
}

span{
	float: left;
	padding: 20px;
	margin: 20px;
	width: 100%;
	background-color:#000;
	opacity: .8;
	z-index: -1
}

span p{
	color: #fff;
}
span h1{
	line-height: 1.33;
}



#blog{
	background: url("../images/baybridge.png") center right fixed;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #000;
}

#blog nav{

	height: 100%;
	width: 20%;
	float: left;

	position: absolute;
	padding-right: 20px;
	background-color: #C1C6D2;/*#109d61;*/
	z-index: 99;

}

#blog nav li{
	padding: 10px;
	display: none;
	text-align: left;
}
#blog nav p{
	text-transform: uppercase;
	color: #109d61;
	text-align: center;
	display: none;
}

#blog nav h4{
	text-align: center;
}

#blog nav:hover li{
	display: block;
}
#blog nav:hover p{
	display: block;
}

article{
	display: block-inline;
	width: 70%;
	background-color: #fff ;
		opacity: .8;

	/*box-shadow: 5px 5px 5px #042f4f;*/
	min-height: 300px;
	margin-left: 20%;
	margin-top: 10%;
	padding: 15px;
	z-index: -1;
	
}

article img{
	display: inline;
	padding: 10px;
	height: 150px;
	
}

#places{
	background-image: url("../images/graynoise.png");
	background-repeat: repeat;
	color: #000;
}

#places img{
	width: 49%;
	height: auto;
	margin:0px;
	padding:0px;
}


h1{
	font-size: 3.33em;
	text-align: center;
	line-height: 3.33em;
	color: #109d61

}

h2{
	font-size: 2.66em;
	line-height: 2.33em;
	color: #109d61;
}

h3{
	font-size: 2em;
	line-height: 1em;
}

h4{
	font-size: 1.33em;
	line-height: 1em;1
}

p{
	font-size: 1em;
	line-height: 1.33em;
	margin-top: 5px;
	padding-top: 15px;
}

@media (min-device-width : 320px) and (max-device-width : 480px){
	#blog{
	background: url("../images/baybridge.png") center right fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
	}

	li{
		font-size: 1em;
	}

}


@media (max-width: 940px){
	section{
		width:100%;
		height: auto;
		float: left;
		right: 0px;
		margin: 0px;
		padding: 0px;
	}
	#places img{
		width: 80%;
		margin:1%;
		height: auto;
		display: block;
	}

	.content{
		width:70%;
		margin: 20px, auto;
	}
	h1{
		font-size: 2.33em;
		line-height: .33em;	
	}
	article{
		margin: 90px auto;
		width: 80%;
		z-index: -1;
	}

	#blog nav{
		width: 100%;
		height: 50px;
		margin-top: 0px;
		float: left;
		left:0px;
		top: 0px;
		
		background-color: #C1C6D2;/*#109d61;*/
		z-index: 99;
	}

	#blog nav:hover{
		height: auto;
	}
	#blog nav:hover li{
		display: inline;

	}
	#blog nav:hover p{
		display: inline-block;
	}
	#blog nav li{
		padding: 10px;
		display: none;
	}
	#blog nav p{
		display: none;
		text-transform: uppercase;
		color: #109d61;
		text-align: center;
	}

	#blog nav a:hover{
		color: #fff;
	}

}